<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Home</title>
    {%block head%} {%endblock%}
</head>
<body>
    {%block body%}
	<h1>Store Inventory Management</h1>
    {% if item %}
	<table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Modify</th>
        </tr>
        {% for row in item %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>
                <a href="/delete/{{row[0]}}">Delete</a>
                <br>
                <a href="{{url_for('update', item_id = row[0])}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p> No inventory items available</p>
    {% endif %}
    <div class="center">
    <a href="{{ url_for('add') }}">Add Item</a>
    </div>
	<a href="{{ url_for('logout') }}">Logout</a>
    {%endblock%}
</body>
</html>
